
body{
    position: relative;
    border: 1px solid red;
    min-height: 100vh;
}
:root{
    --primary-color: #6F1154
}
.login{
    bottom: 20%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-color);
    width: 25%;
    padding: 50px 30px;
    border-radius: 15px ;
}
.login h1{
    padding-bottom: 15px ;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.login label{
    color: #fff;
}
.login::after{
    position: absolute;
    content: "";
    /* border: 1px solid red; */
    background: #fff;
    width: 70%;
    border-radius: 30% ;
    height: 50px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.login::before{
    position: absolute;
    content: "";
    background: #fff;
    width: 70%;
    border-radius: 30% ;
    height: 50px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}*/

.logBtn{
    width:50%;
    margin: auto;
    background: #ddd;
    border: none;
    color: var(--primary-color);
    font-weight: bold;
    /* box-shadow: 5px 5px 2px; */
}
.logBtn:focus{
    box-shadow: 0px 10px 10px;
}

@media (width < 750px) {
    .login{
        width: 50%;
    }
}
